  :root {
    --black: #000000;
    --white: #ffffff;
    --grey: #EFEFEF;
    --grey-2: #DEDEDE;
    --grey-3: #DEDEDE;
    --orange: #DD783F;
    --font-default-1: 'Oxygen';
    --font-default-2: 'Lora';
    --font-style: normal;
  }