.header {
  display: flex;
  flex-direction: column;
  height: 500px;
  // background: url(../images/IMAGE.png) !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  background: transparent;
}
